/* -------------------------------------------------------------------------
Animation de la page d.accueil
--------------------------------------------------------------------------*/


.animation div {
    //transform: translateX(500px);
    animation: anim-entete 1s 1s forwards;
}
body::after {
    animation: anim-clip-path 3s infinite ease-in-out ;
}

@keyframes anim-entete {
    0% {transform: translateX(1000px);}
    100% {transform: translateX(0px);}
}

$animations: 5;

@for $i from 1 through $animations {
    .animation div:nth-last-of-type(#{$i}){
        animation-delay: 0.5*$i#{s};
    }

}