/* -------------------------------------------------------------------------
Animation de la page d.accueil
--------------------------------------------------------------------------*/


.animation div {
    //transform: translateX(500px);
    animation: anim-entete 1s 1s forwards;
}
body::after {
    animation: anim-clip-path 3s infinite ease-in-out ;
}

@keyframes anim-entete {
    0% {transform: translateX(1000px);}
    100% {transform: translateX(0px);}
}
@keyframes anim-clip-path {
    0% {clip-path: polygon(0 0, 65% 0 , 50% 100% , 0 100%);}
    50% {clip-path: polygon(0 0, 80% 0 , 35% 100% , 0 100%);}
    100% {clip-path: polygon(0 0, 65% 0 , 50% 100% , 0 100%);}
}


$animations: 5;

@for $i from 1 through $animations {
    .animation div:nth-last-of-type(#{$i}){
        animation-delay: 0.5*$i#{s};
    }

}