$couleur_desktop: #BF04B3;
$couleurs : (
    primaire : $couleur_desktop,
    text:black,
    primaire_pale : lighten($couleur_desktop, 40%)
    );


@function couleur($propriete){
    @return map-get($couleurs, $propriete);
}


